h1 {
    color: rgb(230, 228, 238);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-style: italic;
}
h2 {
    color: rgb(230, 228, 238);
    margin-left: 14%;
    font-weight: 350;
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 1%;
  }
div {
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: whitesmoke;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(230, 228, 238);
    margin-left: 14%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 35px;
    width: 250px;
    text-align: left;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 5px 0 rgba(255, 253, 253, 0.24),
      0 10px 40px 0 rgba(255, 252, 252, 0.19);
    font-style: italic;
    border: 1px solid whitesmoke;
}
button:hover {
    background-color: rgb(33, 35, 63);
}
button:active {
    background-color: rgb(33, 35, 63);
    box-shadow: 0 2px rgb(39, 35, 35);
    transform: translateY(1px);
}
a {
    color: rgb(230, 228, 238);
}
#avatar {
    border-radius: 50%;
    overflow: hide;
    width: 55%;
    border: 1px solid whitesmoke;
}
body {
    background-color: black;
}
.Thanks {
    font-size: 40px;
    font-weight: 350;
}
#vd_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
#dai {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(230, 228, 238);
    height: 25px;
    width: 57px;
    text-align: left;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 5px 0 rgba(255, 253, 253, 0.24),
    0 10px 40px 0 rgba(255, 252, 252, 0.19);
    font-style: italic;
    border: 1px solid whitesmoke;
}
#dai:active {
    background-color: rgb(33, 35, 63);
    box-shadow: 0 2px rgb(39, 35, 35);
    transform: translateY(1px);
}
#dai:hover {
    background-color: rgb(33, 35, 63);
}
#key-input {
    border-radius: 10px 10px 10px 10px;
}
#sealook{
    border-radius: 20px 20px 20px 20px;
}
  